{% include 'template.html' %} 
<form class="item" method="POST">
    {% csrf_token %}
    <p><strong>Pour ajouter une machine : </strong></p>

    <p>Nom :</p>
    {{ form.name }}

    <p>Adresse IP :</p>
    {{ form.IPAdresse }}

    <p>Type SNMP :</p>
    {{ form.SNMPType }}
    
    <p>Communauté :</p>
    {{ form.Community }}
    
    <br/><br/>
    <input class="button_cursor" type="submit" name="add_machine" value="Ajouter une machine" />
    <br/><br/>
    <a href="{% url 'liste_machines' %}">Retour à la liste des machines</a>
</form>