{% include 'template.html' %} 
<form class="item" method="POST">
    {% csrf_token %}
    <p><strong>Pour ajouter un graphique : </strong></p>

    <p>Nom :</p>
    {{ form.name }}

    <p>Type de graphique :</p>
    {{ form.GraphiqueType }}
    
    <p>Axe x :</p>
    {{ form.axex }}
    
    <p>Axe y :</p>
    {{ form.axey }}
    
    <p>Ordre :</p>
    {{ form.ordre }}
    
    <p>OID 1 :</p>
    {{ form.OID1 }}
    
    <p>OID 2 :</p>
    {{ form.OID2 }}
    
    <p>Valeur max :</p>
    {{ form.valeur_max }}
    
    <br/><br/>
    <input class="button_cursor" type="submit" name="add_graphique" value="Ajouter un graphique" />
    <br/><br/>
    <a href="{% url 'liste_oids' %}">Retour à la liste des graphiques</a>
</form>