{% include 'template.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de suppression</title>
</head>
<body>
    <h1>Êtes-vous sûr de vouloir supprimer {{ object.name }} ?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Oui, supprimer</button>
        <a class="btn btn-danger" href="{% url 'liste_oids' %}">Non, annuler</a>
    </form>
</body>
</html>
