{% include 'template.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un oid</title>
</head>
<body>
    <h1>Modifier l'oid</h1>

    <form method="post">
        {% csrf_token %}
        <p>Nom :</p>
        {{ form.name }}

        <p>OID :</p>
        {{ form.oid }}
        
         <p>Est un entier :</p>
         {{ form.is_Integer }}
         
         <p>Est une donnée fixe :</p>
         {{ form.Donnee_fixe }}
    
        </br></br>
        <button class="btn btn-success" type="submit">Mettre à jour</button>
    </form>

    <br>
    <a class="btn btn-outline-primary" href="{% url 'liste_oids' %}">Retour à la liste des oids</a>
</body>
</html>
