{% include 'template.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une Machine</title>
</head>
<body>
    <h1>Modifier la Machine</h1>

    <form method="post">
        {% csrf_token %}
        
    <p>Nom :</p>
    {{ form.name }}
    
    <p>Adresse IP :</p>
    {{ form.IP }}
    
    <p>Type SNMP :</p>
    {{ form.TypeSNMP }}
    
    <p>Communauté :</p>
    {{ form.Community }}
        <br><br>
        <button class="btn btn-success" type="submit">Mettre à jour</button>
    </form>

    <br>
    <a class="btn btn-outline-primary" href="{% url 'liste_machines' %}">Retour à la liste des machines</a>
</body>
</html>
