<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Graphe RAM</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>
    <div id="graph"></div>
    <script>
        // Imaginons que c'est votre donnée récupérée de Django
        const data = [
            { date: "2023-01-01", ramMax: 3955968, ramDispo: 388584 },
            { date: "2023-01-02", ramMax: 3955968, ramDispo: 388584 },
        ];
        const margin = {top: 10, right: 30, bottom: 30, left: 100},
            width = 460 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        // Ajouter un SVG au div avec une légère marge
        const svg = d3.select("#graph")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);

        // Ajouter l'axe X
        const x = d3.scaleBand()
            .range([0, width])
            .domain(data.map(d => d.date))
            .padding(0.2);
        
        svg.append("g")
            .attr("transform", `translate(0,${height})`)
            .call(d3.axisBottom(x));

        // Ajouter l'axe Y
        const y = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.ramMax)])
            .range([height, 0]);
        
        svg.append("g")
            .call(d3.axisLeft(y));

        // Barres pour ramMax
        svg.selectAll(".bar-max")
            .data(data)
            .join("rect")
            .attr("class", "bar-max")
            .attr("x", d => x(d.date))
            .attr("y", d => y(d.ramMax))
            .attr("width", x.bandwidth())
            .attr("height", d => height - y(d.ramMax))
            .attr("fill", "#ca6f96");

        // Barres pour ramDispo
        svg.selectAll(".bar-dispo")
            .data(data)
            .join("rect")
            .attr("class", "bar-dispo")
            .attr("x", d => x(d.date))
            .attr("y", d => y(d.ramDispo))
            .attr("width", x.bandwidth())
            .attr("height", d => height - y(d.ramDispo))
            .attr("fill", "#6fca9f");
    </script>
</body>
</html>
