{% include 'template.html' %} 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Utilisateurs</title>
</head>
<body>
    <h1>Liste des Utilisateurs</h1>
    <a class="btn btn-primary" href="{% url 'add_user' %}">Ajouter un Utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" >Suppressions</th>
                <th scope="col" >Editions</th>
                <th scope="col" >ID</th>
                <th scope="col" >Login</th>
                <th scope="col" >Nom de famille</th>
                <th scope="col" >Prénom</th>
                <th scope="col" >Est admin ?</th>
                <th scope="col" >Mail</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a class="btn btn-danger" href="{% url 'delete_user' user.id %}">Supprimer</a></td>
                <td><a class="btn btn-secondary" href="{% url 'edit_user' user.id %}">Editer</a></td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.is_superuser }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
