<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Machines</title>
</head>
<body>
    <h1>Liste des Machines</h1>
    <a href="{% url 'add_machine' %}">Ajouter une Machine</a></li>
    <table border="1">
        <thead>
            <tr>
                <th>Suppressions</th>
                <th>Editions</th>
                <th>ID</th>
                <th>Nom</th>
                <th>Adresse IP</th>
                <th>Port</th>
                <th>Type SNMP</th>
                <th>Community</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machines %}
            <tr>
                <td><a href="{% url 'delete_machine' machine.id %}">Supprimer</a></td>
                <td><a href="{% url 'edit_machine' machine.id %}">Editer</a></td>
                <td>{{ machine.id }}</td>
                <td>{{ machine.name }}</td>
                <td>{{ machine.IPAdresse }}</td>
                <td>{{ machine.port }}</td>
                <td>{{ machine.SNMPType }}</td>
                <td>{{ machine.Community }}</td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
    <a href="{% url 'index' %}">Retour au menu principal</a>
</body>
</html>